_drafts/
*.pyc
_site
.sass-cache
.DS_Store
*.swp
.idea
.vagrant
.jekyll-metadata
.releasedata
Gemfile.lock
publish-cnx-docs.yaml
_output/
/*.out
bin
vendor
backport*.patch

pinned_versions.yml
pinned_images.yml

# This prevents us from checking in a supplementary values.yaml file
_includes/*/charts/calico/values.yaml
_includes/*/charts/tigera-secure-ee/values.yaml
