# This file contains only the changes from the defaults
# https://jekyllrb.com/docs/configuration/#default-configuration

# Make our URLs look nice. We're not a blog with dated posts, we just want the title.
permalink:     /:title.html

plugins:
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-sitemap

url: https://docs.tigera.io

prodname: Tigera Secure EE
prodnamedash: tigera-secure-ee
nodecontainer: cnx-node
repository: projectcalico/calico
noderunning: calico-node

# Image names in case the host changes
# Node is duplicated because documentation refers to it using both names. At least one needs to match the version in versions.yaml
# IMPORTANT - When updating this list, also update _includes/<version>/load-docker.md
imageNames:
  node: tigera/cnx-node
  cnx-node: tigera/cnx-node
  calicoctl: tigera/calicoctl
  typha: tigera/typha
  cnxManager: tigera/cnx-manager
  cnxManagerProxy: tigera/cnx-manager-proxy
  cnxApiserver: tigera/cnx-apiserver
  cnxQueryserver: tigera/cnx-queryserver
  felix: tigera/felix
  calicoq: tigera/calicoq
  cni: quay.io/calico/cni
  kubeControllers: tigera/kube-controllers
  calicoKubeControllers: calico/kube-controllers
  calico-upgrade: calico/upgrade
  flannel: quay.io/coreos/flannel
  dikastes: tigera/dikastes
  flexvol: calico/pod2daemon-flexvol
  fluentd: tigera/fluentd
  es-proxy: tigera/es-proxy
  cloudControllers: tigera/cloud-controllers
  elastic-tsee-installer: tigera/intrusion-detection-job-installer
  intrusion-detection-controller: tigera/intrusion-detection-controller
  es-curator: tigera/es-curator
  compliance-controller: tigera/compliance-controller
  compliance-server: tigera/compliance-server
  compliance-snapshotter: tigera/compliance-snapshotter
  compliance-reporter: tigera/compliance-reporter
  compliance-benchmarker: tigera/compliance-benchmarker
  ingress-collector: tigera/ingress-collector
  kibana: tigera/kibana
  prometheusConfigReloader: quay.io/coreos/prometheus-config-reloader
  configMapReload: quay.io/coreos/configmap-reload
  alertManager: quay.io/prometheus/alertmanager
  prometheus: quay.io/prometheus/prometheus
  elasticsearchOperator: upmcenterprises/elasticsearch-operator
  elasticsearch: docker.elastic.co/elasticsearch/elasticsearch
  prometheusOperator: quay.io/coreos/prometheus-operator
  busybox: busybox

# List of files to exclude. These files won't get included in the deployed site.
exclude:
  - htmlproofer.sh
  - v2.0
  - release-scripts
  - LICENSE
  - Makefile
  - README.md
  - RELEASING.md
  - DEVELOPER_GUIDE.md
  - CONTRIBUTING_DOCS.md
  - CONTRIBUTING_CODE.md
  - DOC_STYLE_GUIDE.md
  - hack
  - vendor

defaults:
  -
    scope:
      path: ""
    values:
      layout: docwithnav
      version: master
      sitemap: true
      # By default, released builds are pulled from quay.
      registry: quay.io/
  -
    scope:
      path: master
    values:
      version: master
      # Master builds are pulled from GCR.
      registry: gcr.io/unique-caldron-775/cnx/
  -
    scope:
      path: v2.0
    values:
      version: v2.0
  -
    scope:
      path: v2.1
    values:
      version: v2.1
  -
    scope:
      path: v2.2
    values:
      version: v2.2
  -
    scope:
      path: v2.3
    values:
      version: v2.3
  -
    scope:
      path: v2.4
    values:
      version: v2.4
  -
    scope:
      path: v2.5
    values:
      version: v2.5
