# haproxy config
#
# Listen on port 8443 for incoming connections.
# - All uris are proxied to elasticsearch URL after adding basic auth

global
  # daemon
  log 127.0.0.1 local0 notice  # rsyslog port 514
  tune.ssl.default-dh-param 2048

defaults
  mode http
  option httplog
  option dontlognull
  option log-health-checks
  log global
  timeout connect 5000ms
  timeout client 5000ms
  timeout server 5000ms

frontend elastic_api_in
  bind *:8443 ssl crt /etc/es-proxy-frontend-tls/server.pem

  # Everything goes to elasticsearch
  default_backend elasticsearch

  # But restrict to only GET methods.
  acl valid_http_method method GET HEAD OPTIONS
  http-request deny if ! valid_http_method

#
# elasticsearch backend
# Requires the following environment variables to be set
#  - ES_BACKEND_HOST - Elasticsearch host
#  - ES_BACKEND_PORT - Elasticsearch port
#  - ES_BACKEND_BASIC_AUTH_TOKEN - Basic Authentication token that has to be set to access the secure elasticsearch cluster.
backend elasticsearch
  server static "${ES_BACKEND_HOST}":"${ES_BACKEND_PORT}" ssl verify required ca-file /etc/es-proxy-backend-tls/ca.crt check
  http-request set-header Authorization Basic\ "${ES_BACKEND_BASIC_AUTH_TOKEN}"
