---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: "(devel)"
  creationTimestamp: 
  name: globalthreatfeeds.crd.projectcalico.org
spec:
  group: crd.projectcalico.org
  names:
    kind: GlobalThreatFeed
    listKind: GlobalThreatFeedList
    plural: globalthreatfeeds
    singular: globalthreatfeed
  preserveUnknownFields: false
  scope: Cluster
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              content:
                type: string
              globalNetworkSet:
                properties:
                  labels:
                    additionalProperties:
                      type: string
                    type: object
                type: object
              pull:
                properties:
                  http:
                    properties:
                      format:
                        properties:
                          csv:
                            properties:
                              columnDelimiter:
                                type: string
                              commentDelimiter:
                                type: string
                              disableRecordSizeValidation:
                                type: boolean
                              fieldName:
                                type: string
                              fieldNum:
                                type: integer
                              header:
                                type: boolean
                              recordSize:
                                type: integer
                            type: object
                          json:
                            properties:
                              path:
                                type: string
                            type: object
                          newlineDelimited:
                            type: object
                        type: object
                      headers:
                        items:
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                            valueFrom:
                              properties:
                                configMapKeyRef:
                                  properties:
                                    key:
                                      type: string
                                    name:
                                      type: string
                                    optional:
                                      type: boolean
                                  required:
                                  - key
                                  type: object
                                secretKeyRef:
                                  properties:
                                    key:
                                      type: string
                                    name:
                                      type: string
                                    optional:
                                      type: boolean
                                  required:
                                  - key
                                  type: object
                              type: object
                          required:
                          - name
                          type: object
                        type: array
                      url:
                        type: string
                    required:
                    - url
                    type: object
                  period:
                    type: string
                required:
                - http
                type: object
            type: object
          status:
            properties:
              errorConditions:
                items:
                  properties:
                    message:
                      type: string
                    type:
                      type: string
                  required:
                  - message
                  - type
                  type: object
                type: array
              lastSuccessfulSearch:
                format: date-time
                type: string
              lastSuccessfulSync:
                format: date-time
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ''
    plural: ''
  conditions: []
  storedVersions: []

