apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (devel)
  creationTimestamp: null
  name: globalalerts.crd.projectcalico.org
spec:
  group: crd.projectcalico.org
  names:
    kind: GlobalAlert
    listKind: GlobalAlertList
    plural: globalalerts
    singular: globalalert
  scope: Cluster
  versions:
    - name: v1
      schema:
        openAPIV3Schema:
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              properties:
                aggregateBy:
                  items:
                    type: string
                  type: array
                condition:
                  type: string
                dataSet:
                  type: string
                description:
                  type: string
                field:
                  type: string
                lookback:
                  type: string
                metric:
                  type: string
                period:
                  type: string
                query:
                  type: string
                severity:
                  type: integer
                summary:
                  type: string
                threshold:
                  type: number
              required:
                - dataSet
                - description
                - severity
              type: object
            status:
              properties:
                active:
                  type: boolean
                errorConditions:
                  items:
                    properties:
                      message:
                        type: string
                      type:
                        type: string
                    required:
                      - message
                      - type
                    type: object
                  type: array
                healthy:
                  type: boolean
                lastEvent:
                  format: date-time
                  type: string
                lastExecuted:
                  format: date-time
                  type: string
                lastUpdate:
                  format: date-time
                  type: string
              required:
                - active
                - healthy
              type: object
          type: object
      served: true
      storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
