---
# Source: tigera-prometheus-operator/templates/04-clusterrole-prometheus-operator.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: calico-prometheus-operator
  namespace: tigera-prometheus
rules:
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - "*"
- apiGroups:
  - monitoring.coreos.com
  resources:
  - alertmanagers
  - alertmanagerconfigs
  - prometheuses
  - servicemonitors
  - prometheusrules
  - podmonitors
  - thanosrulers
  - probes
  verbs:
  - "*"
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs: ["*"]
- apiGroups: [""]
  resources:
  - configmaps
  - secrets
  verbs: ["*"]
- apiGroups: [""]
  resources:
  - pods
  verbs: ["list", "delete"]
- apiGroups: [""]
  resources:
  - services
  - endpoints
  verbs: ["get", "create", "update"]
- apiGroups: [""]
  resources:
  - nodes
  - namespaces
  verbs: ["get", "list", "watch"]
# The following permissions are required to deploy Prometheus Operator on OpenShift.
# (You can't set blockOwnerDeletion if an ownerReference refers to a resource you can't set finalizers on.)
- apiGroups:
    - monitoring.coreos.com
  resources:
    - alertmanagers/finalizers
    - prometheuses/finalizers
    - servicemonitors/finalizers
    - podmonitors/finalizers
  verbs:
    - "*"

