apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: non-cluster-host-read-only
rules:
  - apiGroups:
      - discovery.k8s.io
    resources:
      - endpointslices
    verbs:
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
      - nodes
      - namespaces
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - endpoints
      - services
    verbs:
      - watch
      - list
      - get
  - apiGroups:
      - networking.k8s.io
    resources:
      - networkpolicies
    verbs:
      - watch
      - list
  - apiGroups:
      - ""
    resources:
      - pods
      - namespaces
      - serviceaccounts
    verbs:
      - watch
      - list
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
  - apiGroups:
      - crd.projectcalico.org
    resources:
      - bgpconfigurations
      - bgppeers
      - blockaffinities
      - clusterinformations
      - felixconfigurations
      - globalnetworkpolicies
      - stagedglobalnetworkpolicies
      - globalnetworksets
      - hostendpoints
      - ipamblocks
      - ippools
      - networkpolicies
      - stagedkubernetesnetworkpolicies
      - stagednetworkpolicies
      - networksets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - crd.projectcalico.org
    resources:
      - globalbgpconfigs
      - globalfelixconfigs
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - crd.projectcalico.org
    resources:
      - blockaffinities
      - ipamblocks
      - ipamhandles
    verbs:
      - get
      - list
  - apiGroups:
      - crd.projectcalico.org
    resources:
      - ipamconfigs
    verbs:
      - get
  - apiGroups:
      - crd.projectcalico.org
    resources:
      - blockaffinities
    verbs:
      - watch
  - apiGroups:
      - crd.projectcalico.org
    resources:
      - licensekeys
      - remoteclusterconfigurations
      - stagedglobalnetworkpolicies
      - stagedkubernetesnetworkpolicies
      - stagednetworkpolicies
      - tiers
      - packetcaptures
    verbs:
      - get
      - list
      - watch
