---
layout: null
---
{% helm tigera-operator %}
installation:
  enabled: false
  imagePullSecrets:
    - name: tigera-pull-secret
apiServer:
  enabled: false
intrusionDetection:
  enabled: false
logCollector:
  enabled: false
logStorage:
  enabled: false
manager:
  enabled: false
compliance:
  enabled: false
{% endhelm %}
