{
    "swagger": "2.0",
    "info": {
      "title": "",
      "version": "v3"
    },
    "host": "kubernetes.master",
    "basePath": "/apis/projectcalico.org/v3",
    "paths": {
      "/": {
        "get": {
          "consumes": [
            "application/json",
            "application/yaml"
          ],
          "description": "get available resources",
          "operationId": "getProjectcalicoOrgV3APIResources",
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.APIResourceList"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ]
        }
      },
      "/apis/projectcalico.org/": {
        "get": {
          "consumes": [
            "application/json",
            "application/yaml"
          ],
          "description": "get information of a group",
          "operationId": "getProjectcalicoOrgAPIGroup",
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.APIGroup"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            "projectcalicoOrg"
          ]
        }
      },
      "/authenticationreviews": {
        "parameters": [
          {
            "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
            "in": "query",
            "name": "dryRun",
            "type": "string",
            "uniqueItems": true
          },
          {
            "description": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.",
            "in": "query",
            "name": "fieldManager",
            "type": "string",
            "uniqueItems": true
          },
          {
            "description": "If 'true', then the output is pretty printed.",
            "in": "query",
            "name": "pretty",
            "type": "string",
            "uniqueItems": true
          }
        ],
        "post": {
          "consumes": [
            "*/*"
          ],
          "description": "create an AuthenticationReview",
          "operationId": "createProjectcalicoOrgV3AuthenticationReview",
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.AuthenticationReview"
              }
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.AuthenticationReview"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.AuthenticationReview"
              }
            },
            "202": {
              "description": "Accepted",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.AuthenticationReview"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "post",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "AuthenticationReview",
            "version": "v3"
          }
        }
      },
      "/authorizationreviews": {
        "parameters": [
          {
            "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
            "in": "query",
            "name": "dryRun",
            "type": "string",
            "uniqueItems": true
          },
          {
            "description": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.",
            "in": "query",
            "name": "fieldManager",
            "type": "string",
            "uniqueItems": true
          },
          {
            "description": "If 'true', then the output is pretty printed.",
            "in": "query",
            "name": "pretty",
            "type": "string",
            "uniqueItems": true
          }
        ],
        "post": {
          "consumes": [
            "*/*"
          ],
          "description": "create an AuthorizationReview",
          "operationId": "createProjectcalicoOrgV3AuthorizationReview",
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.AuthorizationReview"
              }
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.AuthorizationReview"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.AuthorizationReview"
              }
            },
            "202": {
              "description": "Accepted",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.AuthorizationReview"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "post",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "AuthorizationReview",
            "version": "v3"
          }
        }
      },
      "/bgpconfigurations": {
        "delete": {
          "consumes": [
            "*/*"
          ],
          "description": "delete collection of BGPConfiguration",
          "operationId": "deleteProjectcalicoOrgV3CollectionBGPConfiguration",
          "parameters": [
            {
              "description": "allowWatchBookmarks requests watch events with type \"BOOKMARK\". Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server's discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored. If the feature gate WatchBookmarks is not enabled in apiserver, this field is ignored.",
              "in": "query",
              "name": "allowWatchBookmarks",
              "type": "boolean",
              "uniqueItems": true
            },
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.DeleteOptions"
              }
            },
            {
              "description": "The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.",
              "in": "query",
              "name": "continue",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
              "in": "query",
              "name": "dryRun",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "A selector to restrict the list of returned objects by their fields. Defaults to everything.",
              "in": "query",
              "name": "fieldSelector",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.",
              "in": "query",
              "name": "gracePeriodSeconds",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "A selector to restrict the list of returned objects by their labels. Defaults to everything.",
              "in": "query",
              "name": "labelSelector",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.",
              "in": "query",
              "name": "limit",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \"orphan\" finalizer will be added to/removed from the object's finalizers list. Either this field or PropagationPolicy may be set, but not both.",
              "in": "query",
              "name": "orphanDependents",
              "type": "boolean",
              "uniqueItems": true
            },
            {
              "description": "Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: 'Orphan' - orphan the dependents; 'Background' - allow the garbage collector to delete the dependents in the background; 'Foreground' - a cascading policy that deletes all dependents in the foreground.",
              "in": "query",
              "name": "propagationPolicy",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "When specified with a watch call, shows changes that occur after that particular version of a resource. Defaults to changes from the beginning of history. When specified for list: - if unset, then the result is returned from remote storage based on quorum-read flag; - if it's 0, then we simply return what we currently have in cache, no guarantee; - if set to non zero, then the result is at least as fresh as given rv.",
              "in": "query",
              "name": "resourceVersion",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity.",
              "in": "query",
              "name": "timeoutSeconds",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion.",
              "in": "query",
              "name": "watch",
              "type": "boolean",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "deletecollection",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "BGPConfiguration",
            "version": "v3"
          }
        },
        "get": {
          "consumes": [
            "*/*"
          ],
          "description": "list or watch objects of kind BGPConfiguration",
          "operationId": "listProjectcalicoOrgV3BGPConfiguration",
          "parameters": [
            {
              "description": "allowWatchBookmarks requests watch events with type \"BOOKMARK\". Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server's discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored. If the feature gate WatchBookmarks is not enabled in apiserver, this field is ignored.",
              "in": "query",
              "name": "allowWatchBookmarks",
              "type": "boolean",
              "uniqueItems": true
            },
            {
              "description": "The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.",
              "in": "query",
              "name": "continue",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "A selector to restrict the list of returned objects by their fields. Defaults to everything.",
              "in": "query",
              "name": "fieldSelector",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "A selector to restrict the list of returned objects by their labels. Defaults to everything.",
              "in": "query",
              "name": "labelSelector",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.",
              "in": "query",
              "name": "limit",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "When specified with a watch call, shows changes that occur after that particular version of a resource. Defaults to changes from the beginning of history. When specified for list: - if unset, then the result is returned from remote storage based on quorum-read flag; - if it's 0, then we simply return what we currently have in cache, no guarantee; - if set to non zero, then the result is at least as fresh as given rv.",
              "in": "query",
              "name": "resourceVersion",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity.",
              "in": "query",
              "name": "timeoutSeconds",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion.",
              "in": "query",
              "name": "watch",
              "type": "boolean",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml",
            "application/json;stream=watch"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPConfigurationList"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "list",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "BGPConfiguration",
            "version": "v3"
          }
        },
        "parameters": [
          {
            "description": "If 'true', then the output is pretty printed.",
            "in": "query",
            "name": "pretty",
            "type": "string",
            "uniqueItems": true
          }
        ],
        "post": {
          "consumes": [
            "*/*"
          ],
          "description": "create a BGPConfiguration",
          "operationId": "createProjectcalicoOrgV3BGPConfiguration",
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPConfiguration"
              }
            },
            {
              "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
              "in": "query",
              "name": "dryRun",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.",
              "in": "query",
              "name": "fieldManager",
              "type": "string",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPConfiguration"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPConfiguration"
              }
            },
            "202": {
              "description": "Accepted",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPConfiguration"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "post",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "BGPConfiguration",
            "version": "v3"
          }
        }
      },
      "/bgpconfigurations/{name}": {
        "delete": {
          "consumes": [
            "*/*"
          ],
          "description": "delete a BGPConfiguration",
          "operationId": "deleteProjectcalicoOrgV3BGPConfiguration",
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.DeleteOptions"
              }
            },
            {
              "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
              "in": "query",
              "name": "dryRun",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.",
              "in": "query",
              "name": "gracePeriodSeconds",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \"orphan\" finalizer will be added to/removed from the object's finalizers list. Either this field or PropagationPolicy may be set, but not both.",
              "in": "query",
              "name": "orphanDependents",
              "type": "boolean",
              "uniqueItems": true
            },
            {
              "description": "Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: 'Orphan' - orphan the dependents; 'Background' - allow the garbage collector to delete the dependents in the background; 'Foreground' - a cascading policy that deletes all dependents in the foreground.",
              "in": "query",
              "name": "propagationPolicy",
              "type": "string",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
              }
            },
            "202": {
              "description": "Accepted",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "delete",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "BGPConfiguration",
            "version": "v3"
          }
        },
        "get": {
          "consumes": [
            "*/*"
          ],
          "description": "read the specified BGPConfiguration",
          "operationId": "readProjectcalicoOrgV3BGPConfiguration",
          "parameters": [
            {
              "description": "Should the export be exact.  Exact export maintains cluster-specific fields like 'Namespace'. Deprecated. Planned for removal in 1.18.",
              "in": "query",
              "name": "exact",
              "type": "boolean",
              "uniqueItems": true
            },
            {
              "description": "Should this value be exported.  Export strips fields that a user can not specify. Deprecated. Planned for removal in 1.18.",
              "in": "query",
              "name": "export",
              "type": "boolean",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPConfiguration"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "get",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "BGPConfiguration",
            "version": "v3"
          }
        },
        "parameters": [
          {
            "description": "name of the BGPConfiguration",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string",
            "uniqueItems": true
          },
          {
            "description": "If 'true', then the output is pretty printed.",
            "in": "query",
            "name": "pretty",
            "type": "string",
            "uniqueItems": true
          }
        ],
        "patch": {
          "consumes": [
            "application/json-patch+json",
            "application/merge-patch+json",
            "application/strategic-merge-patch+json",
            "application/apply-patch+yaml"
          ],
          "description": "partially update the specified BGPConfiguration",
          "operationId": "patchProjectcalicoOrgV3BGPConfiguration",
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"
              }
            },
            {
              "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
              "in": "query",
              "name": "dryRun",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint. This field is required for apply requests (application/apply-patch) but optional for non-apply patch types (JsonPatch, MergePatch, StrategicMergePatch).",
              "in": "query",
              "name": "fieldManager",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "Force is going to \"force\" Apply requests. It means user will re-acquire conflicting fields owned by other people. Force flag must be unset for non-apply patch requests.",
              "in": "query",
              "name": "force",
              "type": "boolean",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPConfiguration"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "patch",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "BGPConfiguration",
            "version": "v3"
          }
        },
        "put": {
          "consumes": [
            "*/*"
          ],
          "description": "replace the specified BGPConfiguration",
          "operationId": "replaceProjectcalicoOrgV3BGPConfiguration",
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPConfiguration"
              }
            },
            {
              "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
              "in": "query",
              "name": "dryRun",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.",
              "in": "query",
              "name": "fieldManager",
              "type": "string",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPConfiguration"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPConfiguration"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "put",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "BGPConfiguration",
            "version": "v3"
          }
        }
      },
      "/bgppeers": {
        "delete": {
          "consumes": [
            "*/*"
          ],
          "description": "delete collection of BGPPeer",
          "operationId": "deleteProjectcalicoOrgV3CollectionBGPPeer",
          "parameters": [
            {
              "description": "allowWatchBookmarks requests watch events with type \"BOOKMARK\". Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server's discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored. If the feature gate WatchBookmarks is not enabled in apiserver, this field is ignored.",
              "in": "query",
              "name": "allowWatchBookmarks",
              "type": "boolean",
              "uniqueItems": true
            },
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.DeleteOptions"
              }
            },
            {
              "description": "The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.",
              "in": "query",
              "name": "continue",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
              "in": "query",
              "name": "dryRun",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "A selector to restrict the list of returned objects by their fields. Defaults to everything.",
              "in": "query",
              "name": "fieldSelector",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.",
              "in": "query",
              "name": "gracePeriodSeconds",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "A selector to restrict the list of returned objects by their labels. Defaults to everything.",
              "in": "query",
              "name": "labelSelector",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.",
              "in": "query",
              "name": "limit",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \"orphan\" finalizer will be added to/removed from the object's finalizers list. Either this field or PropagationPolicy may be set, but not both.",
              "in": "query",
              "name": "orphanDependents",
              "type": "boolean",
              "uniqueItems": true
            },
            {
              "description": "Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: 'Orphan' - orphan the dependents; 'Background' - allow the garbage collector to delete the dependents in the background; 'Foreground' - a cascading policy that deletes all dependents in the foreground.",
              "in": "query",
              "name": "propagationPolicy",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "When specified with a watch call, shows changes that occur after that particular version of a resource. Defaults to changes from the beginning of history. When specified for list: - if unset, then the result is returned from remote storage based on quorum-read flag; - if it's 0, then we simply return what we currently have in cache, no guarantee; - if set to non zero, then the result is at least as fresh as given rv.",
              "in": "query",
              "name": "resourceVersion",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity.",
              "in": "query",
              "name": "timeoutSeconds",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion.",
              "in": "query",
              "name": "watch",
              "type": "boolean",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "deletecollection",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "BGPPeer",
            "version": "v3"
          }
        },
        "get": {
          "consumes": [
            "*/*"
          ],
          "description": "list or watch objects of kind BGPPeer",
          "operationId": "listProjectcalicoOrgV3BGPPeer",
          "parameters": [
            {
              "description": "allowWatchBookmarks requests watch events with type \"BOOKMARK\". Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server's discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored. If the feature gate WatchBookmarks is not enabled in apiserver, this field is ignored.",
              "in": "query",
              "name": "allowWatchBookmarks",
              "type": "boolean",
              "uniqueItems": true
            },
            {
              "description": "The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.",
              "in": "query",
              "name": "continue",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "A selector to restrict the list of returned objects by their fields. Defaults to everything.",
              "in": "query",
              "name": "fieldSelector",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "A selector to restrict the list of returned objects by their labels. Defaults to everything.",
              "in": "query",
              "name": "labelSelector",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.",
              "in": "query",
              "name": "limit",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "When specified with a watch call, shows changes that occur after that particular version of a resource. Defaults to changes from the beginning of history. When specified for list: - if unset, then the result is returned from remote storage based on quorum-read flag; - if it's 0, then we simply return what we currently have in cache, no guarantee; - if set to non zero, then the result is at least as fresh as given rv.",
              "in": "query",
              "name": "resourceVersion",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity.",
              "in": "query",
              "name": "timeoutSeconds",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion.",
              "in": "query",
              "name": "watch",
              "type": "boolean",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml",
            "application/json;stream=watch"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPPeerList"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "list",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "BGPPeer",
            "version": "v3"
          }
        },
        "parameters": [
          {
            "description": "If 'true', then the output is pretty printed.",
            "in": "query",
            "name": "pretty",
            "type": "string",
            "uniqueItems": true
          }
        ],
        "post": {
          "consumes": [
            "*/*"
          ],
          "description": "create a BGPPeer",
          "operationId": "createProjectcalicoOrgV3BGPPeer",
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPPeer"
              }
            },
            {
              "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
              "in": "query",
              "name": "dryRun",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.",
              "in": "query",
              "name": "fieldManager",
              "type": "string",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPPeer"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPPeer"
              }
            },
            "202": {
              "description": "Accepted",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPPeer"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "post",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "BGPPeer",
            "version": "v3"
          }
        }
      },
      "/bgppeers/{name}": {
        "delete": {
          "consumes": [
            "*/*"
          ],
          "description": "delete a BGPPeer",
          "operationId": "deleteProjectcalicoOrgV3BGPPeer",
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.DeleteOptions"
              }
            },
            {
              "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
              "in": "query",
              "name": "dryRun",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.",
              "in": "query",
              "name": "gracePeriodSeconds",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \"orphan\" finalizer will be added to/removed from the object's finalizers list. Either this field or PropagationPolicy may be set, but not both.",
              "in": "query",
              "name": "orphanDependents",
              "type": "boolean",
              "uniqueItems": true
            },
            {
              "description": "Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: 'Orphan' - orphan the dependents; 'Background' - allow the garbage collector to delete the dependents in the background; 'Foreground' - a cascading policy that deletes all dependents in the foreground.",
              "in": "query",
              "name": "propagationPolicy",
              "type": "string",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
              }
            },
            "202": {
              "description": "Accepted",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "delete",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "BGPPeer",
            "version": "v3"
          }
        },
        "get": {
          "consumes": [
            "*/*"
          ],
          "description": "read the specified BGPPeer",
          "operationId": "readProjectcalicoOrgV3BGPPeer",
          "parameters": [
            {
              "description": "Should the export be exact.  Exact export maintains cluster-specific fields like 'Namespace'. Deprecated. Planned for removal in 1.18.",
              "in": "query",
              "name": "exact",
              "type": "boolean",
              "uniqueItems": true
            },
            {
              "description": "Should this value be exported.  Export strips fields that a user can not specify. Deprecated. Planned for removal in 1.18.",
              "in": "query",
              "name": "export",
              "type": "boolean",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPPeer"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "get",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "BGPPeer",
            "version": "v3"
          }
        },
        "parameters": [
          {
            "description": "name of the BGPPeer",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string",
            "uniqueItems": true
          },
          {
            "description": "If 'true', then the output is pretty printed.",
            "in": "query",
            "name": "pretty",
            "type": "string",
            "uniqueItems": true
          }
        ],
        "patch": {
          "consumes": [
            "application/json-patch+json",
            "application/merge-patch+json",
            "application/strategic-merge-patch+json",
            "application/apply-patch+yaml"
          ],
          "description": "partially update the specified BGPPeer",
          "operationId": "patchProjectcalicoOrgV3BGPPeer",
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"
              }
            },
            {
              "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
              "in": "query",
              "name": "dryRun",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint. This field is required for apply requests (application/apply-patch) but optional for non-apply patch types (JsonPatch, MergePatch, StrategicMergePatch).",
              "in": "query",
              "name": "fieldManager",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "Force is going to \"force\" Apply requests. It means user will re-acquire conflicting fields owned by other people. Force flag must be unset for non-apply patch requests.",
              "in": "query",
              "name": "force",
              "type": "boolean",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPPeer"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "patch",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "BGPPeer",
            "version": "v3"
          }
        },
        "put": {
          "consumes": [
            "*/*"
          ],
          "description": "replace the specified BGPPeer",
          "operationId": "replaceProjectcalicoOrgV3BGPPeer",
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPPeer"
              }
            },
            {
              "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
              "in": "query",
              "name": "dryRun",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.",
              "in": "query",
              "name": "fieldManager",
              "type": "string",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPPeer"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.BGPPeer"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "put",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "BGPPeer",
            "version": "v3"
          }
        }
      },
      "/clusterinformations": {
        "delete": {
          "consumes": [
            "*/*"
          ],
          "description": "delete collection of ClusterInformation",
          "operationId": "deleteProjectcalicoOrgV3CollectionClusterInformation",
          "parameters": [
            {
              "description": "allowWatchBookmarks requests watch events with type \"BOOKMARK\". Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server's discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored. If the feature gate WatchBookmarks is not enabled in apiserver, this field is ignored.",
              "in": "query",
              "name": "allowWatchBookmarks",
              "type": "boolean",
              "uniqueItems": true
            },
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.DeleteOptions"
              }
            },
            {
              "description": "The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.",
              "in": "query",
              "name": "continue",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
              "in": "query",
              "name": "dryRun",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "A selector to restrict the list of returned objects by their fields. Defaults to everything.",
              "in": "query",
              "name": "fieldSelector",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.",
              "in": "query",
              "name": "gracePeriodSeconds",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "A selector to restrict the list of returned objects by their labels. Defaults to everything.",
              "in": "query",
              "name": "labelSelector",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.",
              "in": "query",
              "name": "limit",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \"orphan\" finalizer will be added to/removed from the object's finalizers list. Either this field or PropagationPolicy may be set, but not both.",
              "in": "query",
              "name": "orphanDependents",
              "type": "boolean",
              "uniqueItems": true
            },
            {
              "description": "Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: 'Orphan' - orphan the dependents; 'Background' - allow the garbage collector to delete the dependents in the background; 'Foreground' - a cascading policy that deletes all dependents in the foreground.",
              "in": "query",
              "name": "propagationPolicy",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "When specified with a watch call, shows changes that occur after that particular version of a resource. Defaults to changes from the beginning of history. When specified for list: - if unset, then the result is returned from remote storage based on quorum-read flag; - if it's 0, then we simply return what we currently have in cache, no guarantee; - if set to non zero, then the result is at least as fresh as given rv.",
              "in": "query",
              "name": "resourceVersion",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity.",
              "in": "query",
              "name": "timeoutSeconds",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion.",
              "in": "query",
              "name": "watch",
              "type": "boolean",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "deletecollection",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "ClusterInformation",
            "version": "v3"
          }
        },
        "get": {
          "consumes": [
            "*/*"
          ],
          "description": "list or watch objects of kind ClusterInformation",
          "operationId": "listProjectcalicoOrgV3ClusterInformation",
          "parameters": [
            {
              "description": "allowWatchBookmarks requests watch events with type \"BOOKMARK\". Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server's discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored. If the feature gate WatchBookmarks is not enabled in apiserver, this field is ignored.",
              "in": "query",
              "name": "allowWatchBookmarks",
              "type": "boolean",
              "uniqueItems": true
            },
            {
              "description": "The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.",
              "in": "query",
              "name": "continue",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "A selector to restrict the list of returned objects by their fields. Defaults to everything.",
              "in": "query",
              "name": "fieldSelector",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "A selector to restrict the list of returned objects by their labels. Defaults to everything.",
              "in": "query",
              "name": "labelSelector",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.",
              "in": "query",
              "name": "limit",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "When specified with a watch call, shows changes that occur after that particular version of a resource. Defaults to changes from the beginning of history. When specified for list: - if unset, then the result is returned from remote storage based on quorum-read flag; - if it's 0, then we simply return what we currently have in cache, no guarantee; - if set to non zero, then the result is at least as fresh as given rv.",
              "in": "query",
              "name": "resourceVersion",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity.",
              "in": "query",
              "name": "timeoutSeconds",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion.",
              "in": "query",
              "name": "watch",
              "type": "boolean",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml",
            "application/json;stream=watch"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.ClusterInformationList"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "list",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "ClusterInformation",
            "version": "v3"
          }
        },
        "parameters": [
          {
            "description": "If 'true', then the output is pretty printed.",
            "in": "query",
            "name": "pretty",
            "type": "string",
            "uniqueItems": true
          }
        ],
        "post": {
          "consumes": [
            "*/*"
          ],
          "description": "create a ClusterInformation",
          "operationId": "createProjectcalicoOrgV3ClusterInformation",
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.ClusterInformation"
              }
            },
            {
              "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
              "in": "query",
              "name": "dryRun",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.",
              "in": "query",
              "name": "fieldManager",
              "type": "string",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.ClusterInformation"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.ClusterInformation"
              }
            },
            "202": {
              "description": "Accepted",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.ClusterInformation"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "post",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "ClusterInformation",
            "version": "v3"
          }
        }
      },
      "/clusterinformations/{name}": {
        "delete": {
          "consumes": [
            "*/*"
          ],
          "description": "delete a ClusterInformation",
          "operationId": "deleteProjectcalicoOrgV3ClusterInformation",
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.DeleteOptions"
              }
            },
            {
              "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
              "in": "query",
              "name": "dryRun",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.",
              "in": "query",
              "name": "gracePeriodSeconds",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \"orphan\" finalizer will be added to/removed from the object's finalizers list. Either this field or PropagationPolicy may be set, but not both.",
              "in": "query",
              "name": "orphanDependents",
              "type": "boolean",
              "uniqueItems": true
            },
            {
              "description": "Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: 'Orphan' - orphan the dependents; 'Background' - allow the garbage collector to delete the dependents in the background; 'Foreground' - a cascading policy that deletes all dependents in the foreground.",
              "in": "query",
              "name": "propagationPolicy",
              "type": "string",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
              }
            },
            "202": {
              "description": "Accepted",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.Status"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "delete",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "ClusterInformation",
            "version": "v3"
          }
        },
        "get": {
          "consumes": [
            "*/*"
          ],
          "description": "read the specified ClusterInformation",
          "operationId": "readProjectcalicoOrgV3ClusterInformation",
          "parameters": [
            {
              "description": "Should the export be exact.  Exact export maintains cluster-specific fields like 'Namespace'. Deprecated. Planned for removal in 1.18.",
              "in": "query",
              "name": "exact",
              "type": "boolean",
              "uniqueItems": true
            },
            {
              "description": "Should this value be exported.  Export strips fields that a user can not specify. Deprecated. Planned for removal in 1.18.",
              "in": "query",
              "name": "export",
              "type": "boolean",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.ClusterInformation"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "get",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "ClusterInformation",
            "version": "v3"
          }
        },
        "parameters": [
          {
            "description": "name of the ClusterInformation",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string",
            "uniqueItems": true
          },
          {
            "description": "If 'true', then the output is pretty printed.",
            "in": "query",
            "name": "pretty",
            "type": "string",
            "uniqueItems": true
          }
        ],
        "patch": {
          "consumes": [
            "application/json-patch+json",
            "application/merge-patch+json",
            "application/strategic-merge-patch+json",
            "application/apply-patch+yaml"
          ],
          "description": "partially update the specified ClusterInformation",
          "operationId": "patchProjectcalicoOrgV3ClusterInformation",
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.Patch"
              }
            },
            {
              "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
              "in": "query",
              "name": "dryRun",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint. This field is required for apply requests (application/apply-patch) but optional for non-apply patch types (JsonPatch, MergePatch, StrategicMergePatch).",
              "in": "query",
              "name": "fieldManager",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "Force is going to \"force\" Apply requests. It means user will re-acquire conflicting fields owned by other people. Force flag must be unset for non-apply patch requests.",
              "in": "query",
              "name": "force",
              "type": "boolean",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.ClusterInformation"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "patch",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "ClusterInformation",
            "version": "v3"
          }
        },
        "put": {
          "consumes": [
            "*/*"
          ],
          "description": "replace the specified ClusterInformation",
          "operationId": "replaceProjectcalicoOrgV3ClusterInformation",
          "parameters": [
            {
              "in": "body",
              "name": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.ClusterInformation"
              }
            },
            {
              "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
              "in": "query",
              "name": "dryRun",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.",
              "in": "query",
              "name": "fieldManager",
              "type": "string",
              "uniqueItems": true
            }
          ],
          "produces": [
            "application/json",
            "application/yaml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.ClusterInformation"
              }
            },
            "201": {
              "description": "Created",
              "schema": {
                "$ref": "#/definitions/com.github.tigera.apiserver.pkg.apis.projectcalico.v3.ClusterInformation"
              }
            }
          },
          "schemes": [
            "https"
          ],
          "tags": [
            ""
          ],
          "x-kubernetes-action": "put",
          "x-kubernetes-group-version-kind": {
            "group": "projectcalico.org",
            "kind": "ClusterInformation",
            "version": "v3"
          }
        }
      },
      "/felixconfigurations": {
        "delete": {
          "consumes": [
            "*/*"
          ],
          "description": "delete collection of FelixConfiguration",
          "operationId": "deleteProjectcalicoOrgV3CollectionFelixConfiguration",
          "parameters": [
            {
              "description": "allowWatchBookmarks requests watch events with type \"BOOKMARK\". Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server's discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored. If the feature gate WatchBookmarks is not enabled in apiserver, this field is ignored.",
              "in": "query",
              "name": "allowWatchBookmarks",
              "type": "boolean",
              "uniqueItems": true
            },
            {
              "in": "body",
              "name": "body",
              "schema": {
                "$ref": "#/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.DeleteOptions"
              }
            },
            {
              "description": "The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \"next key\".\n\nThis field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.",
              "in": "query",
              "name": "continue",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed",
              "in": "query",
              "name": "dryRun",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "A selector to restrict the list of returned objects by their fields. Defaults to everything.",
              "in": "query",
              "name": "fieldSelector",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.",
              "in": "query",
              "name": "gracePeriodSeconds",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "A selector to restrict the list of returned objects by their labels. Defaults to everything.",
              "in": "query",
              "name": "labelSelector",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "limit is a maximum number of responses to return for a list call. If more items exist, the server will set the `continue` field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.\n\nThe server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.",
              "in": "query",
              "name": "limit",
              "type": "integer",
              "uniqueItems": true
            },
            {
              "description": "Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \"orphan\" finalizer will be added to/removed from the object's finalizers list. Either this field or PropagationPolicy may be set, but not both.",
              "in": "query",
              "name": "orphanDependents",
              "type": "boolean",
              "uniqueItems": true
            },
            {
              "description": "Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: 'Orphan' - orphan the dependents; 'Background' - allow the garbage collector to delete the dependents in the background; 'Foreground' - a cascading policy that deletes all dependents in the foreground.",
              "in": "query",
              "name": "propagationPolicy",
              "type": "string",
              "uniqueItems": true
            },
            {
              "description": "When specified with a watch call, shows changes that occur after that particular version of a resource. Defaults to changes from the beginning of history. When specified for list: - if unset, then the result is returned from remote storage based on quorum-read flag; - if it's 0, then we simply return what we currently have in cache, no guarantee; - if set to non zero, then the result is at least as fresh as given rv.",
              "in": "query",
              "name": "resourceVersion",
[...]
