*.tar
./tests/k8st/infra/calico.yaml.tmp
.coverage
.empty
/tests/k8st/infra/calico.yaml
/tests/k8st/kind
apiserver.crt
apiserver.key
build/
calico-node.tar.gz
certs/
config/
dist/
filesystem/code/
filesystem/etc/calico/confd/
filesystem/included-source/
filesystem/usr/
kubeconfig.yaml
kubectl
nosetests.xml
package/
rhel/calico-node.spec
testfile.yaml
