---
layout: null
---
# {{site.prodname}} Version {{site.data.versions[page.version].first.title}}
# {{site.baseurl}}/{{page.version}}/releases#{{site.data.versions[page.version].first.title}}
# This manifest includes the following component versions:
#   {{page.registry}}{{site.imageNames["calicoq"]}}:{{site.data.versions[page.version].first.components["calicoq"].version}}

apiVersion: v1
kind: Pod
metadata:
  name: calicoq
  namespace: kube-system
spec:
  hostNetwork: false
  imagePullSecrets:
  - name: cnx-pull-secret
  containers:
  - name: calicoq
    image: {{page.registry}}{{site.imageNames["calicoq"]}}:{{site.data.versions[page.version].first.components["calicoq"].version}}
    command: ["/bin/sh", "-c", "while true; do sleep 3600; done"]
    env:
    - name: ETCD_ENDPOINTS
      valueFrom:
        configMapKeyRef:
          name: calico-config
          key: etcd_endpoints
    # If you're using TLS enabled etcd uncomment the following.
    # - name: ETCD_CA_CERT_FILE
    #   valueFrom:
    #     configMapKeyRef:
    #       name: calico-config
    #       key: etcd_ca
    # Location of the client key for etcd.
    # - name: ETCD_KEY_FILE
    #   valueFrom:
    #     configMapKeyRef:
    #       name: calico-config
    #       key: etcd_key
    # Location of the client certificate for etcd.
    # - name: ETCD_CERT_FILE
    #   valueFrom:
    #     configMapKeyRef:
    #       name: calico-config
    #       key: etcd_cert
    # volumeMounts:
    # - mountPath: /calico-secrets
    #   name: etcd-certs
  volumes:
  # If you're using TLS enabled etcd uncomment the following.
  # - name: etcd-certs
  #   secret:
  #     secretName: calico-etcd-secrets
