# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.coverprofile

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
report/
bin
.go-pkg-cache

# Ignore IDE files
.vscode/
*/__debug_bin
.idea/

# Ignore Go build files
Makefile.common*

release-notes-*

# Ignore CRDs copied for fv
config/

# Ignore local snort rules used for dev testing
*/local.rules

# Test Data files
pkg/eventgenerator/test/dpi-ns/*
