#!/bin/bash
export CARROTCTL_USER="root"
export CARROTCTL_PASSWORD="JbUEMjuHqVpyCCjt"
export CARROTCTL_DNS="tigera-dev-backoffice.cn2dhzvxtlxw.us-west-2.rds.amazonaws.com"
export CARROTCTL_PORT="3306"
export CARROTCTL_NAME="tigera_backoffice"
